<!DOCTYPE html>
<html>
<head>
   <meta charset='utf-8'>
   <meta name='viewport' content='width=device-width, initial-scale=1'>
   <title>Nuevo Pedido</title>
   <style>
      body{
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         background-color: f4f4f4;
         color: black;
      }

      .container{
         max-width: 600px;
         margin: 0 auto;
         background-color: lightgreen;
         padding: 2rem;
         border-radius: 0.7rem;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .header{
         background-color: yellow;
         color: black;
         padding: 1rem;
         text-align: center;
         border-radius: 5px;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .image{
         text-align: center;
         margin-top: 1rem;
         max-width: 300px;
      }

      .footer{
         text-align: center;
         padding: 1rem;
         font-size: 0.9rem;
         color: #999;
      }
   </style>
</head>
<body>
   <div class="container">
      <div class="header">
         <h2>Tu pedido #<strong>{{orderID}}</strong></h2>
      </div>
      <div class="message-content">
         <p>Hola {{firstName}}, recibimos tu pedido.</p>
         <p>Vamos a revisar los productos seleccionados y la disponibilidad. En caso de no estar disponible, te avisaremos para ofrecerte otra opción.</p>
         <p>Una vez confirmado, te contactaremos para
         {{#if address}}
            enviar tu pedido a la siguiente dirección: <strong>{{address}}.</strong>
         {{else}}
            que pases a retirarlo en el local.
         {{/if}}
         </p>
      </div>
      <div class="order-items">
         <h3>Productos seleccionados:</h3>
         <ul>
            {{#each items}}
               <li>
                  <strong>{{this.description}}</strong> - Cantidad: {{this.qty}} - Precio: ${{this.price}}
               </li>
            {{/each}}
         </ul>
      </div>
      <div class="message-content">
         <p><strong>Total a pagar: ${{total}}</strong></p>
         <p>Gracias por elegirnos!</p>
      </div>
   </div>
</body>
</html>